.body{
    background-color: gray;
    align-content: center;
}
.container{
    width: 1200px;
    margin: 0 auto; /* задаем отступ слева и справа auto чтобы сработало выравнивание по центру */
    background-color: white;
}
.main_nav{

}

.main_nav li {
    list-style: none; /* Убираем маркеры списка */
    display: inline-block;
    padding: 0px 0px 0px 50px;
}
/* Главный банер */
.intro_banner{
    position: relative;
    width: 1200;
    height: 510px;
    background-image: url('../IMG/intro.jpg');
}
.border_botom {
    position: absolute;
    left: 0px;
    margin: 0px 0px 0px 0px;
    bottom: 0px;
}
.Flex_box_Infrastructure{
    display: flex;
}
.Flex_box_Infrastructure div:nth-child(1){
    flex-grow: 1;
}
.Flex_box_Infrastructure div:nth-child(2){
    width: 100px
}